<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.2" targetFramework="net461" />
  <package id="Flurl.Http.Signed" version="2.3.1" targetFramework="net461" />
  <package id="Flurl.Signed" version="2.7.1" targetFramework="net461" />
  <package id="Jil" version="2.15.4" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="Sigil" version="4.7.0" targetFramework="net461" />
  <package id="SimpleInjector" version="4.3.0" targetFramework="net461" />
  <package id="SolrNet" version="1.0.9" targetFramework="net461" />
  <package id="SolrNet.Core" version="1.0.9" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net461" />
</packages>